body{
    margin: 0;
    padding: 0;
}

.full-screen-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f3f4f6;
}
.centered-text {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    
}